<GeneralContainer>
  <div class='product item-details-page {{if this.isZoomed "is-zoomed"}}'>
    <Product::Image
      @productImage={{this.productImage}}
      @toggleZoom={{this.toggleZoom}}
    />
    <Product::Details
      @name={{this.model.name}}
      @price={{this.model.price}}
      @colors={{this.model.colors}}
      @color={{this.color}}
      @onChangeColor={{this.onChangeColor}}
      @isDetails={{true}}
    />
  </div>
  <h5 class='mt-5'>Features</h5>
  {{#each this.model.features as |feature|}}
    <ul>
      <li>{{feature}}</li>
    </ul>
  {{/each}}
</GeneralContainer>